body {
    background-image: url(./images/pista.webp);
    background-size:contain;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    width: 100%;
}

.transitions {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.transitions:hover .transitions__circle {
    transform: translate(1340px);
}

.transitions__circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 18px;
}

.transitions__circle--one {
    background: #CD5C5C;
    transition: transform 0.5s linear;
    transition-delay: 0.5s;
}

.transitions__circle--two {
    background: #F08080;
    transition: transform 1s ease ;
    transition-delay: 0.5s;
}

.transitions__circle--three {
    background: #FA8072;
    transition: transform 1.5s ease-in;
    transition-delay: 1.5s;
}

.transitions__circle--four {
    background: #E9967A;
    transition: transform 2.0s ease-in-out;
    transition-delay: 2.5s;
}

.transitions__circle--nine {
    background: #D7BDE2;
    transition: transform 1s cubic-bezier(.2,.66,.83,.67);
    transition-delay: 3s;
}

